nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;

    & .logo {
        color: #000000;
        font-size: 20px;
        font-weight: 600;
        margin: 0 1rem;
    }

    & .menu {
        display: flex;
        list-style: none;

        & li {
            margin: 0 2rem;

            & a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}