<nav>
    <div class="logo">
        <a href="/">CRUD</a>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>book</mat-icon>
            <span>Show List Book</span>
        </button>
        <button mat-menu-item>
            <mat-icon>add</mat-icon>
            <span>Add Store</span>
        </button>

    </mat-menu>
</nav>